<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BearServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.revature.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestController</display-name>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>com.revature.controller.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestResolver</display-name>
    <servlet-name>RequestResolver</servlet-name>
    <servlet-class>com.revature.controller.RequestResolver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestResolver</servlet-name>
    <url-pattern>/RequestResolver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRequest</display-name>
    <servlet-name>CreateRequest</servlet-name>
    <servlet-class>com.revature.controller.CreateRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRequest</servlet-name>
    <url-pattern>/CreateRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.revature.controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewEmployee</display-name>
    <servlet-name>viewEmployee</servlet-name>
    <servlet-class>com.revature.controller.viewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewEmployee</servlet-name>
    <url-pattern>/viewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestControllerPending</display-name>
    <servlet-name>RequestControllerPending</servlet-name>
    <servlet-class>com.revature.controller.RequestControllerPending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestControllerPending</servlet-name>
    <url-pattern>/RequestControllerPending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterController</display-name>
    <servlet-name>FilterController</servlet-name>
    <servlet-class>com.revature.controller.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterController</servlet-name>
    <url-pattern>/FilterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YourRequestController</display-name>
    <servlet-name>YourRequestController</servlet-name>
    <servlet-class>com.revature.controller.YourRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YourRequestController</servlet-name>
    <url-pattern>/YourRequestController</url-pattern>
  </servlet-mapping>
</web-app>